<aside id="sidebar">

    <div class="sidebar-header">

        MENU

    </div>

    <nav>

        <button class="nav-item active">

            Dashboard

        </button>

        <button class="nav-item">

            Modul

        </button>

        <button class="nav-item">

            Teaching Factory

        </button>

        <button class="nav-item">

            Quiz

        </button>

        <button class="nav-item">

            Nilai

        </button>

        <button class="nav-item">

            Pengaturan

        </button>

    </nav>

</aside>
