<aside id="sidebar">

    <div class="sidebar-header">

        MENU

    </div>

    <nav>

        <button
class="nav-item active"
data-route="dashboard">

Dashboard

</button>

        <button
            class="nav-item"
            data-route="modul">

            Modul

        </button>

        <button
            class="nav-item"
            data-route="teaching factory">

            Teaching Factory

        </button>

        <button
class="nav-item"
data-route="quiz">

Quiz

</button>

        <button
class="nav-item"
data-route="nilai">

            Nilai

        </button>

        <button
            class="nav-item"
            data-route="pengaturan">

            Pengaturan

        </button>

    </nav>

</aside>
